@font-face {
    font-family: symbols-nerds;
    src: url("../font/symbols-nerds.eot?27841936");
    src: url("../font/symbols-nerds.eot?27841936#iefix") format("embedded-opentype"), url("../font/symbols-nerds.woff?27841936") format("woff"), url("../font/symbols-nerds.ttf?27841936") format("truetype"), url("../font/symbols-nerds.svg?27841936#symbols-nerds") format("svg");
    font-weight: normal;
    font-style: normal;
}
.clearfix::after{
    content: "";
    display: table;
    clear: both;
}
header.main-header{
    background-color: #EEEEEE;
    margin-bottom: 80px;
}
.main-header{
    padding-top: 1px;
    padding-bottom: 1px;
}
.container{
    width: 880px;
    padding: 0 10px;
    margin:0 auto;
}
.top-header{
    margin-bottom: 50px;
    margin-top: 27px;
}
.top-header img{
    float: left;
}
.main-menu{
    float: right;
    margin-top:30px;
}
.main-menu ul{
    margin:0;
    list-style: none;
}
.main-menu li{
    float: left;
    margin-left: 45px;
    line-height:14px;
    padding-bottom:5px;
}
.main-menu ul li a{
    text-decoration: none;
    font-family: 'Roboto', 'Arial', sans-serif;
    font-size:14px;
    text-transform: uppercase;
    color: #000;
    font-weight:500;
}
.main-menu ul li a:hover{
    color: #fb565a;
}
.main-menu ul li a:active{
    color: #000;
    opacity:.4;
}
li.busket{
    margin-left:65px;
}
.busket a{
    padding-left:25px;
    position: relative;
}
.busket a:hover::before{
    color: #fb565a;
}
.active{
    border-bottom: 2px solid #fb565a;
}
.busket a::before{
    position: absolute;
    top: 3px;
    left: 0;
    font-family: symbols-nerds;
    font-style: normal;
    font-weight: normal;
    speak: none;
    display: inline-block;
    vertical-align: baseline;
    text-decoration: inherit;
    width: 14px;
    margin-right: 0;
    text-align: center;
    font-variant: normal;
    text-transform: none;
    content: "\62";
    color: #bcbcbc;
}
.slider-left-side{
    float: left;
    width: 470px;
}
.slider-right-side{
    float: right;
    width: 410px;
    text-align: right;
}
.slider-left-side p{
    margin-bottom:32px;
}
.slider-right-side img{
    display: block;
    float: right;
}
.slider-buttons{
    position: relative;
    /*left: 405px;*/
    /*top: -20px;*/
}
.slider-buttons li{
    float: left;
    margin-right: 5px;
}

.service-item{
    float: left;
    width: 240px;
    margin-right: 80px;
}
.service-item:last-child{
    margin-right: 0;
}
.services{
    margin-bottom: 80px;
}

.about-company{
    margin-top: 70px;
    margin-bottom: 75px;
}
.about-company .left{
    float: left;
    width: 585px;
}
.about-company .left p{
    margin-bottom: 45px;
}
.about-company .right{
     float: right;
     width: 240px;
 }
.about-company .right img{
    display: block;
}
.about-company .right h4{
    margin-top: 70px;
}
.companies{
    margin-bottom: 35px;
    margin-top: 35px;
}
.companies img{
    margin-right: 120px;
}
.map{
    height: 416px;
    background-color: #F1EFE8;
    margin-top: 85px;
    padding-top: 1px;
}
.contacts{
    margin-top: 87px;
}
.main-footer{
    padding: 75px 0;
}
.socials{
    float: left;
}
.socials li{
    float: left;
    margin-right: 28px;
}
.socials li a{
    display: block;
    width: 61px;
    height: 61px;
}
.promo{
    float: left;
    margin-left:78px;
}

/*SHOP*/
.main-header h2{
    text-align: center;
    margin-bottom: 90px;
    padding-top: 20px;
}
.filtr{
    float: left;
    width: 240px;
}
.filtr legend{
    margin-bottom: 20px;
}
.filtr fieldset{
    border: none;
}
.filtr ul{
    margin-bottom: 50px;
}
.portfolio{
    float: right;
    width: 560px;
}
.sort-panel{
    margin-bottom: 25px;
}
.sort-title{
    float: left;
    margin-right: 35px;
    margin-top:0;
}
.top-down{
    float: right;
}
.sort-panel ul{
    float: left;
}
.sort-panel ul li{
    float: left;
    margin-right: 45px;
}
.portfolio-item{
    float: left;
    width: 240px;
    position: relative;
    margin-bottom: 80px;
}
.portfolio-item:nth-child(2n){
    float: right;
}
.portfolio-item:hover .overlay{
    display: block;
}
.overlay{
    display: none;
    position: absolute;
    text-align: center;
    top: 20px;
    padding: 35px 30px 30px 30px;
}
.overlay h3{
    margin-bottom:15px;
}
.overlay p{
    margin-bottom:30px;
}
ul.pagination li{
    float: left;
    margin-left: 10px;
}